@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald:wght@200;300;400;500;600;700&display=swap');


table, th, td{
    border: 1px solid black;
}
main {
    width: 1000px;
    margin: 25px auto;
    border: 10px solid gray;
    padding: 20px;
    font-family: 'Bitter', serif;
    background-color: rgb(201, 176, 172);
}
h1{
    font-size: 45px;
    text-align: center
    
}
header{
    padding-left: 40px;
    border: 10px solid gray;
    width: 200px;
    margin-left: 400px;
    color: white;
    background-color: rgb(201, 176, 172);
}
footer{
    padding-left: 120px;
}
body{
    background-color: rgb(54, 52, 38);
}

.random{
    width: 200px;
}